# UI
streamlit
streamlit_pdf_viewer


# LangChain core + ecosystem
langchain
langchain-community
langchain-openai
langchain-text-splitters

# OpenAI
openai>=1.14.0
tiktoken>=0.6.0

# Vector store (local, persistent)
chromadb>=0.4.24
langchain-chroma
faiss-cpu

# Document ingestion
pypdf>=4.1.0
unstructured>=0.12.6
beautifulsoup4>=4.12.3

# Optional but recommended (debugging & tracing)
langsmith>=0.1.30

# rebuild
